#about_nav_wrapper { position: relative; top: -10px;}

#side_nav {
    position: absolute;
    top: 10px;
}

#side_nav .nav {
    margin-bottom: 0;
    width: 200px;
}

#side_nav .nav-pills {
    font-size: 14px;
}

#back_to_top {
    display: block;
    margin-top: 20px;
}

h3 { margin-top: 30px; color: #006192;}