{% extends "base.html" %}

{% block head %}
<link rel="stylesheet" type="text/css" href="/static/css/about.css"/>
<script type="text/javascript" src="/static/js/about.js"></script>
<script type="text/javascript" src="/static/js/stickyfloat.jquery.js"></script>
{% endblock %}

{% block content %}
<h1>Harvard China Forum</h1>
<div class="row-fluid" style="margin-top: 30px;">
    <div class="span3" id="about_nav_wrapper">
        <div id="side_nav">
            <ul class="nav nav-pills nav-stacked">
                <li class="active"><a href="#organization" class="scroll_to_anchor">About Us</a></li>
                <li><a href="#history" class="scroll_to_anchor">Past Conferences</a></li>
                <li><a href="#projects" class="scroll_to_anchor">Current Projects</a></li>
            </ul>
            <a href="#header" class="scroll_to_anchor" id="back_to_top"><i class="icon-arrow-up"></i>Back to Top</a>
        </div>
    </div>
    <div class="span9" id="about">
        <h3 id="organization" style="margin-top: 0px;">About Us</h3>
        <p>The Harvard China Forum was founded by a group of China-focused Harvard students in 1998. In the beginning, the forum was the annual meeting for the renowned journal publication, "Harvard China Review"，inviting students and notable members of Chinese society to evaluate opinions and research published in the annual journal. In 2010, the conference coordinating group became an independent entity under the name Harvard College China Forum. The 2012 conference marks the fifteen year anniversary of the Harvard China Forum.</p>

	<p>In the past, the Harvard China Forum has been fortunate to host many influential figures. In the past few years, it has featured names such as Yu Minhong, Michael Yu (俞敏洪), the founder and CEO of New Oriental Education & Technology Group Inc. (新东方教育科技集团) as well as Wang Shi (王石), chairman of China Vanke, the largest real estate enterprise in China. Other past speakers include Chen Dongsheng, Chairman & CEO of Taikang Life, the largest life and medical insurance companies in China; Ding James, the co-Chairman of Asiainfo-Linkage, Inc. and Managing Director of GSR Ventures; Joseph B. Fuller, the Co-Founder & CEO of Monitor Group; Antony Leung, the Greater China Chairman of Blackstone Group; Mao Zhenhua, the Dean of Institute of Economic Research of Renmin University of China (中国人民大学); and Tian Yuan, the Chairman of China Entrepreneurs Forum.</p>

	<h3 id="history" style="margin-top: 0px;">Past Conferences</h3>
	<ul>
	  <li>1998 - The Asian Financial Crisis</li>
	  <li>1999 - Sino-US Relations</li>
	  <li>2001 - China and the World Trade Organization</li>
	  <li>2002 - Sustainable Growth</li>
	  <li>2003 - Transition - Exploring China's Path Forward</li>
	  <li>2004 - China's Quest for Balanced Development</li>
	  <li>2005 - Copious Consumption: China's Growing Appetite</li>
	  <li>2006 - China's Next Phase</li>
	  <li>2007 - China Inc. - Build on China's Boom</li>
	  <li>2008 - Building Chinese Confidence</li>
	  <li>2009 - Keeping Up the Momentum</li>
	  <li>2010 - PRC after Sixty</li>
	  <li>2011 - Century of Revolution</li>
	</ul>

        <h3 id="projects" style="margin-top: 0px;">Current Projects</h3>
        <h4>Harvard China Forum</h4>
        <img src="/static/img/logo_colored.png" alt="HCF" class="float_right"/><p>The Harvard China Forum is North America's leading student forum dedicated to fostering a constructive dialogue on challenges, trends, and issues affecting China. The annual conference at Harvard University brings together top leaders in business, industry and academia to elucidate and provide insight on current affairs; it provides an unparalleled platform to address issues that will greatly impact the future of China. </p>
        <div class="cleaner_h10">&nbsp;</div>
        <h4>HSTAGE</h4>
        <img src="/static/img/hstage.png" alt="hstage" class="float_left"/><p>HSTAGE (HCCF Summer Taskforce for the Advancement of Global Exchange) allows students from all across the world interested in China to acquire valuable experiences. Every summer, HSTAGE takes some of the United State’s and China’s best university students to visit Chinese companies, government agencies, and non-governmental organizations and engage in challenging dialogue. In the past two years, top students from Harvard, Yale, Princeton, Columbia, the University of Pennsylvania, Peking University, Tsinghua University, Foreign Service Institute, Renmin University and other colleges have participated. Some of the venues visited include the Ministry of Foreign Affairs, the Ministry of Commerce, the Supreme Court, the Office of Diversion Project, Goldman Sachs China, McKinsey, Lenovo, Li Ning, Baidu, New Oriental, CNOOC, the World Bank, and the Social Entrepreneur Foundation.</p>
    </div>
</div>
{% endblock %}
