<!DOCTYPE html>
<html>
<head>
    {% if title %}
        <title>{{title}} - HCF</title>
    {% else %}
        <title>HCF</title>
    {% endif %}
    <link href="/static/css/bootstrap.min.css" rel="stylesheet" media="screen">
    <link href="/static/css/bootstrap-responsive.min.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="/static/css/frame.css"/>
    <link rel="stylesheet" type="text/css" href="/static/css/styles.css"/>

    <script src="http://code.jquery.com/jquery-latest.js"></script>
    <script src="/static/js/bootstrap.min.js"></script>
    <script src="/static/js/bootstrap-dropdown.js"></script>
    <script src="/static/js/moment.min.js"></script>
    <script type="text/javascript" src="/static/js/scripts.js"></script>
    <script type="text/javascript" src="/static/js/stickyfloat.jquery.js"></script>

    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
<div class="container">

    <div id="header_wrapper"><div id="header">
        <a href="#"><img alt="HCF Logo" src="/static/img/logo.jpg" id="site_logo" /></a>
        <span id="lang_option"><a href="#">简体中文</a> | <a href="#">繁體中文</a> | <a href="#">English</a></span>
        <form id="site_search" class="form-search">
            <input type="text" class="input-medium search-query"/>
            <input type="submit" class="btn" value="Search"/>
        </form>
    <span id="social_media_icons">
      <a href="#"><img src="/static/img/icons/facebook_icon.png"/><a/>
          <a href="#"><img src="/static/img/icons/twitter_icon.png"/></a>
          <a href="#"><img src="/static/img/icons/weibo_icon.png"/></a>
          <a href="#"><img src="/static/img/icons/mail_icon.png"/></a>
    </span>
        <div id="site_register">
            <div id="site_register_top">&nbsp;</div>
            <div id="site_register_bottom">
                <i class="icon-check icon-white" style="vertical-align: middle; position: relative; top: -2px;"></i> Register
            </div>
        </div>
    </div></div>


    <div class="navbar">
        <div class="navbar-inner">
            <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </a>
            <ul class="nav">
                <li><a href="{{ url_for('home') }}">Home</a></li>
                <li><a href="#">Agenda</a></li>
                <li><a href="#">Panels</a></li>
                <li class="dropdown open">
                    <a class="dropdown-toggle" id="drop_about" role="button" data-toggle="dropdown" href="#">People<b class="caret"></b></a>
                    <ul id="menu_partners" class="dropdown-menu" role="menu" aria-labelledby="drop_about">
                        <li><a href="#">Speakers</a></li>
                        <li><a href="#">Partners</a></li>
                        <li><a href="#">Advisors</a></li>
                    </ul>
                </li>
                <li><a href="#">Logistics</a></li>
                <li class="dropdown open">
                    <a class="dropdown-toggle" id="drop_about" role="button" data-toggle="dropdown" href="#">About Us<b class="caret"></b></a>
                    <ul id="menu_about" class="dropdown-menu" role="menu" aria-labelledby="drop_about">
                        <li><a href="#">Contact Us</a></li>
                        <li><a href="#">Past Conferences</a></li>
                    </ul>
                </li>

                {% if g.user.is_authenticated() %}
                    <li class="dropdown open">
                        <a class="dropdown-toggle" id="drop4" role="button" data-toggle="dropdown" href="#">Modify<b class="caret"></b></a>
                        <ul id="menu_change" class="dropdown-menu" role="menu" aria-labelledby="drop4">
                            <li><a tabindex="-1" href="#">speaker</a></li>
                            <li><a tabindex="-1" href="#">organization</a></li>
                            <li><a tabindex="-1" href="#">panels</a></li>
                            <li class="divider"></li>
                            <li><a tabindex="-1" href="#">blog</a></li>
                        </ul>
                    </li>
                    <li><a href="{{ url_for('logout') }}">Logout</a></li>
                {% endif %}
            </ul>
            <div class="nav-collapse collapse">
                {% if g.user.is_authenticated() %}
                    <form class="navbar-search pull-right" action="{{url_for('search')}}" method="post" name="search">{{g.search_form.hidden_tag()}}{{g.search_form.search(size=20,placeholder="Search",class="search-query")}}</form>
                {% endif %}
            </div>
        </div>
    </div>
    <div class="row">
        <div class="span12">
            {% block content %}
            {% endblock %}
        </div>
    </div>
</div>
</body>
</html>
