<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% if title %}
        <title>{{title}} - HCF</title>
    {% else %}
        <title>HCF</title>
    {% endif %}
    <!--[if IE 8]>
        <link rel="stylesheet" type="text/css" href="/static/css/ie8.css" />
    <![endif]-->
    <link href="/static/css/bootstrap.min.css" rel="stylesheet" media="screen">
    <link href="/static/css/bootstrap-responsive.min.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="/static/css/frame.css"/>
    <link rel="stylesheet" type="text/css" href="/static/css/styles.css"/>

    <script src="http://code.jquery.com/jquery-latest.js"></script>
    <script src="/static/js/bootstrap.min.js"></script>
    <script src="/static/js/bootstrap-dropdown.js"></script>
    <script src="/static/js/moment.min.js"></script>
    <script type="text/javascript" src="/static/js/scripts.js"></script>
    <script type="text/javascript" src="/static/js/stickyfloat.jquery.js"></script>

    {% block head %}
    {% endblock %}
</head>
<body>
	<div id="header_wrapper"><div id="header">
		<a href="/" id="site_logo_link">
			  <img alt="HCF Logo" src="/static/img/logo.png" id="site_logo" /><br/>
			  <span>April 12 - 14, 2013&nbsp;</span>
			</a>
		<span id="lang_option"><a href="#">简体中文</a> | <a href="#">English</a></span>
        <div id="site_search" class="form-search">
            <form class="navbar-search pull-right" action="{{url_for('search')}}"
                  method="post" name="search">{{g.search_form.hidden_tag()}}
                {{g.search_form.search(size=20,placeholder="Search",class="search-query")}}
            </form>
        </div>

		<span id="social_media_icons">
			<a href="#"><img src="/static/img/icons/facebook_icon.png" alt="facebook"/></a>
			<a href="#"><img src="/static/img/icons/weibo_icon.png" alt="weibo"/></a>
			<a href="#"><img src="/static/img/icons/mail_icon.png" alt="email"/></a>
		</span>
		<div id="site_register">
		  <div id="site_register_top">&nbsp;</div>
		  <div id="site_register_bottom">
			<i class="icon-check icon-white" style="vertical-align: middle; position: relative; top: -2px;"></i> Register
		  </div>
		</div>
    </div></div>

	<div class="navbar"><div class="navbar-inner">
      <ul class="nav">
        <li id="home_site_nav" class="active"><a href="/">Home</a></li>
        <li id="agenda_site_nav"><a href="agenda">Agenda</a></li>
        <li id="speakers_site_nav"><a href="speakers">Speakers</a></li>
	    <li id="panels_site_nav"><a href="panels">Panels</a></li>
	    <li id="logistics_site_nav"><a href="logistics">Logistics</a></li>
        <li id="partners_site_nav"><a href="partners">Partners</a></li>
	    <li id="about_site_nav"><a href="about">About HCF</a></li>
        <li id="team_site_nav"><a href="team">Team</a></li>
	    {% if g.user.is_authenticated() %}
			<li class="dropdown">
				<a class="dropdown-toggle" id="drop4" role="button" data-toggle="dropdown" href="#">Add<b class="caret"></b></a>
				<ul id="menu_change" class="dropdown-menu" role="menu" aria-labelledby="drop4">
					<li><a tabindex="-1" href="new_speaker">speaker</a></li>
                    <li><a tabindex="-1" href="new_advisor">advisor</a></li>
                    <li><a tabindex="-1" href="new_partner_org">partner</a></li>
					<li><a tabindex="-1" href="new_panel">panels</a></li>
				</ul>
			</li>
			<li><a href="{{ url_for('logout') }}">Logout</a></li>
            <li><a href="make_edit">Modify</a></li>
		{% endif %}

      </ul>
    </div></div>
	
    {% block content %}
    {% endblock %}
    
    <div id="footer_wrapper"><div id="footer">
		<div class="row-fluid">
		  <div class="span4">
		<h4>About Us</h4>
		<p id="footer_about">
		 Harvard China Forum (HCF) was founded by a group of China-focused Harvard students in 1998. It is North America\'s leading student forum regarding China. Harvard China Forum holds a conference each spring at Harvard University, focusing on opportunities and challenges that China faces. <a href="about.php">Learn more about us.</a>
		</p>
		  </div>
		  <div class="span4">
			<h4>HCF on the Web</h4>
			<div class="cleaner_h10">&nbsp;</div>
			<ul class="nav nav-tabs nav-stacked" id="on_the_web">
			  <li><a href="#">Email</a></li>
			  <li><a href="#">Facebook</a></li>
			  <li><a href="#">Weibo</a></li>
			</ul>
		  </div>
		  <div class="span4">
		<img src="/static/img/logo_colored.png" alt="logo" style="margin-top: 50px;"/>
		  </div>
		</div>
		<div class="cleaner_h30">&nbsp;</div>
		<p id="copyright">&copy; Copyright 2013 Harvard China Forum.<br/>Harvard China Forum is an official student organization at Harvard University.</p>
		<p id="harvard_notice">Harvard name and/or VERITAS shield are trademarks of the President 
	and<br/> Fellows of Harvard College and are used by permission of Harvard University.</p>
    </div></div>
</body>
</html>
