{% extends "base.html" %}

{% block head %}
<script type='text/javascript'>
    $(document).ready(function() {
        $('.btn-danger').click(function() {
            if (confirm("Are you sure you want to delete? This action is non-reversible!"))
                window.location = "{{ del_url }}";
            else
                return false;
        });
    });
</script>
{% endblock %}

{% block content %}
    <h1>Edit</h1>
    {% include 'flash.html' %}
    </br>
    </br>

    <form class="form-horizontal" action="" method="post" name="post">
        {{form.hidden_tag()}}

        <div class="control-group{% if form.errors.name %} error{% endif %}">
            <label class="control-label" for="post">Name:</label>
            <div class="controls">
                {{ form.name(size = 90, maxlength = 900) }}
                {% for error in form.errors.name %}
                    <span class="help-inline">[{{error}}]</span><br>
                {% endfor %}
            </div>
        </div>

        {% if table == 'panel' %}
            <div class="control-group{% if form.errors.keyq %} error{% endif %}">
                <label class="control-label" for="post">Key Questions:</label>
                <div class="controls">
                    {{ form.keyq (size = 30, maxlength = 140) }}
                    {% for error in form.errors.keyq %}
                        <span class="help-inline">[{{error}}]</span><br>
                    {% endfor %}
                </div>
            </div>
        {% endif %}

        {% if table == 'speaker' or table == 'advisor' or table == 'team' %}
        <div class="control-group{% if form.errors.title %} error{% endif %}">
            <label class="control-label" for="post">Title:</label>
            <div class="controls">
                {{ form.title(size = 30, maxlength = 140) }}
                {% for error in form.errors.title %}
                    <span class="help-inline">[{{error}}]</span><br>
                {% endfor %}
            </div>
        </div>
        {% endif %}

        {% if table == 'team' %}
        <div class="control-group{% if form.errors.email %} error{% endif %}">
            <label class="control-label" for="post">Email:</label>
            <div class="controls">
                {{ form.email(size = 30, maxlength = 140) }}
                {% for error in form.errors.email %}
                    <span class="help-inline">[{{error}}]</span><br>
                {% endfor %}
            </div>
        </div>
        {% endif %}

        {% if table == 'speaker' or table == 'advisor' %}
        <div class="control-group{% if form.errors.organization %} error{% endif %}">
            <label class="control-label" for="post">Organization:</label>
            <div class="controls">
                {{ form.organization(size = 30, maxlength = 140) }}
                {% for error in form.errors.organization %}
                    <span class="help-inline">[{{error}}]</span><br>
                {% endfor %}
            </div>
        </div>
        {% endif %}

        {% if table == 'speaker' or table == 'advisor' or table == 'team' %}
        <div class="control-group{% if form.errors.description %} error{% endif %}">
            <label class="control-label" for="post">Bio:</label>
            <div class="controls">
                {{ form.description(size = 100, maxlength = 140) }}
                {% for error in form.errors.description %}
                    <span class="help-inline">[{{error}}]</span><br>
                {% endfor %}
            </div>
        </div>
        
        <div class="control-group{% if form.errors.img_url %} error{% endif %}">
            <label class="control-label" for="post">Image URL</label>
            <div class="controls">
                {{ form.img_url(size = 100, maxlength = 500) }}
                {% for error in form.errors.img_url %}
                    <span class="help-inline">[{{error}}]</span><br>
                {% endfor %}
            </div>
        </div>
        {% endif %}

        {% if table == 'speaker'%}
        <div class="control-group">
            <div class="controls">
                <label class="checkbox" for="featured">
                    {{ form.featured }} Featured speaker?
                </label>
            </div>
        </div>
        {% endif %}

        <div class="control-group">
            <div class="controls">
                <input class="btn btn-primary" type="submit" value="Edit">
                <a class="btn btn-warning" style="margin-left: 20px;" href="{{ return_url }}">Cancel</a>
                <button class="btn btn-danger" type="button" style="margin-left: 20px;">Delete</button>
            </div>
        </div>

    </form>

{% endblock %}
