<!-- extend base layout -->
{% extends "base.html" %}

{% block content %}
    <div id="wrapper-outer"><div id="wrapper"><div id="wrapper_inner">
        <h1>HCF 2013 Logistics</h1>
        <div class="row-fluid" style="margin-top: 30px;">
            <div class="span3" id="logistics_nav_wrapper">
                <div id="logistics_nav">
                    <ul class="nav nav-pills nav-stacked">
                        <li class="active"><a href="#location" class="scroll_to_anchor">Location of Conference</a></li>
                        <li><a href="#accommodation" class="scroll_to_anchor">Accommodation</a></li>
                        <li><a href="#parking" class="scroll_to_anchor">Parking</a></li>
                        <li><a href="#transportation" class="scroll_to_anchor">Transportation</a></li>
                    </ul>
                    <a href="#header" class="scroll_to_anchor" id="back_to_top"><i class="icon-arrow-up"></i>Back to Top</a>
                </div>
            </div>
            <div class="span9" id="logistics">
                <h3 id="location" style="margin-top: 0px;">Location of Conference</h3>
                <p>The 2013 Harvard China Forum will be held at Harvard University in Cambridge, MA, United States. All events and panels will occur on campus.</p>
                <iframe width="650" height="350" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://maps.google.com/maps?f=q&amp;source=s_q&amp;hl=en&amp;geocode=&amp;q=harvard+university&amp;aq=&amp;sll=42.374237,-71.117096&amp;sspn=0.020227,0.045447&amp;t=m&amp;ie=UTF8&amp;hq=harvard+university&amp;ll=42.386698,-71.11433&amp;spn=0.022188,0.036478&amp;z=14&amp;iwloc=A&amp;output=embed"></iframe><br /><small><a href="https://maps.google.com/maps?f=q&amp;source=embed&amp;hl=en&amp;geocode=&amp;q=harvard+university&amp;aq=&amp;sll=42.374237,-71.117096&amp;sspn=0.020227,0.045447&amp;t=m&amp;ie=UTF8&amp;hq=harvard+university&amp;ll=42.386698,-71.11433&amp;spn=0.022188,0.036478&amp;z=14&amp;iwloc=A" style="color:#0000FF;text-align:left">View Larger Map</a></small>
                <h3 id="accommodation">Accommodation</h3>
                <p>To enhance your conference experience, our partner United International Culture and Business exchange is offering us a discounted hotel rate over the conference dates with Hyatt Regency Hotel in Cambridge. The date of the event is during Boston Marathon weekend so most hotels have already been fully booked.</p>
                <p>The rate of the hotel room is 199+tax for king bed room/ 229 + tax for double beds.  The rate includes free breakfast per room for one. (you just need to go to the buffet breakfast and sign your room number on the bill).  The rate also includes complimentary shuttle bus to Harvard area (you may schedule your ride with hotel in advance.)  We have very limited discounted rooms, so please book your rooms within the week. <a href="https://resweb.passkey.com/Resweb.do?mode=welcome_ei_new&eventID=8400584&utm_source=371&utm_medium=email&utm_campaign=11067463" target="_blank">Reserve now</a>.</p>
                <p>Afterward, please confirm your booking with Ivanka Xu before March 10, 2012 by sending her an email with the following information:<br>
                    + First Name<br>
                    + Last Name<br>
                    + Arrival Date<br>
                    + Departure Date<br>
                    + Payment Method (bill to master or enter credit card number)</p>
                <p>Should you have any questions, please feel free contact her at: ixu@helmsbriscoe.com</p>
                <h5>Other options for accommodation:</h5>
                <p>
                    1. Near Harvard (walking distance: ~ 0.5 mile) <br>http://hotel-guides.us/massachusetts/cambridge-ma-harvard-hotels.html
                    <br><br>
                    2. Near MIT (walking distance: ~ 2.0 miles)<br>http://hotel-guides.us/massachusetts/cambridge-ma-mit-hotels.html
                    <br><br>
                    3. Near Charles River (walking distance: ~2.2 miles) <br>http://hotel-guides.us/massachusetts/cambridge-ma-canal-park-hotels.html
                    <br><br>
                    <strong>Hotel with cheaper rates</strong>
                    <br><br>
                    1. Near North Cambridge (walking distance: ~1.3 mile)<br>http://hotel-guides.us/massachusetts/cambridge-ma-north-hotels.html
                    <br><br>
                    2. Near East Cambridge (walking distance: ~ 2.0 miles)<br>http://hotel-guides.us/massachusetts/cambridge-ma-east-hotels.html
                    <br><br>
                    3. Near Somerville (walking distance: ~2.6 miles)<br>http://hotel-guides.us/massachusetts/somerville-ma-hotels.html
                    <br><br>
                    4. Near Allston (walking distance: ~3.0 miles)<br>http://hotel-guides.us/massachusetts/allston-ma-hotels.html
                    <br><br>
                    5. Near Brighton (walking distance: ~3.0 miles)<br>http://hotel-guides.us/massachusetts/brighton-ma-hotels.html
                    <br><br>
                    6. Near Brookline (walking distance: ~3.0 miles)<br>http://hotel-guides.us/massachusetts/brookline-ma-hotels.html</p>
                <h3 id="parking">Parking</h3>
                <p>Parking in the vicinity is difficult, and is restricted to Cambridge residents only on many nearby local streets. There is some on-street metered parking. Visitors are encouraged to use the area's extensive public transit system, particularly the MBTA Red Line which provides inexpensive parking at its Alewife station. For those traveling to Harvard by car, limited parking is available at:
                    <br><br>&#8226; Church Street Lot: 41 Church Street, between Brattle & Mass. Ave.
                    <br>&#8226; Harvard Square Parking: corner of Eliot & JFK Streets.
                    <br>&#8226; BrCharles Square Garage: University Rd. & Bennett St.</p>

                <h3 id="transportation">Transportation</h3>
                <p>The Harvard Square stop on the Red Line of the MBTA subway system is across the street from the Harvard Yard.
                    <br><br><strong>From the Harvard Square stop on the Red Line</strong>
                    <br><strong>Main Subway exit</strong>
                    <br>Take the two sets of escalators out of the T stop (this is the Main exit). After exiting, you will need to reverse direction and head up Massachusetts avenue (away from the newsstand and Information Kiosk). Continue walking past Cambridge Savings Bank, crossing Dunster St. (The Harvard gates should be on your left side) After the Au Bon Pain Café, turn to the right and enter the Holyoke Center, we are located inside the Holyoke Arcade.
                    <br><br><strong>From South of Boston:</strong> Drive to Braintree MBTA station parking garage (Braintree exit 17 off of Route 3 coming from Cape Cod or the South Shore). Take the Red Line in the direction of Alewife to “Harvard.” Allow approximately 45 minutes for the subway portion of the trip.
                    <br><br><strong>From the North of Boston:</strong> Drive to the Alewife MBTA station parking garage. Take the Red Line. Get off at the third stop, “Harvard.” Allow fifteen minutes for the subway portion of the trip.
                    <br><br><strong>From the West of Boston:</strong> Drive to Riverside MBTA station in Newton, the western terminus of one branch of the Green Line (Exit 22A from Route 128), where there is an open-air parking lot. Take the Green Line to the “Park Street” stop. Go downstairs, following signs marked “Red Line to Alewife.” Take train in the direction of Alewife four stops to “Harvard.” Allow one hour for the subway portion of the trip.
                </p>
            </div>
        </div>
    </div>
{% endblock %}