{% extends "base.html" %}

{% block content %}
    </br>
    <h1>{{ title }}</h1>
    </br>
    {% include 'flash.html' %}
    </br>
    </br>

    <div class="well">

    <form class="form-horizontal" action="" method="post" name="post">
        {{form.hidden_tag()}}
        {% include 'new_people.html' %}

        <div class="control-group">
            <div class="controls">
                <input class="btn btn-primary" type="submit" value="Post!">
            </div>
        </div>

    </form>
    </div>

{% endblock %}