<!-- extend base layout -->
{% extends "base.html" %}

{% block content %}
    </br>
    </br>
    {% include 'flash.html' %}
    </br>
    </br>

    <form class="form-horizontal" action="" method="post" name="post">
        {{form.hidden_tag()}}
        {% include 'new_people.html' %}

        <div class="control-group{% if form.errors.panel %} error{% endif %}">
            <label class="control-label" for="post">Pannel Associated:</label>
            <div class="controls">
                {{ form.panel(size = 30, maxlength = 140) }}
                {% for error in form.errors.panel %}
                    <span class="help-inline">[{{error}}]</span><br>
                {% endfor %}
            </div>
        </div>

        <div class="control-group">
            <div class="controls">
                <label class="checkbox" for="featured">
                    {{ form.featured }} Featured speaker?
                </label>
            </div>
        </div>

        <div class="control-group">
            <div class="controls">
                <input class="btn btn-primary" type="submit" value="Add">
            </div>
        </div>

    </form>

{% endblock %}