
<div class="control-group{% if form.errors.name %} error{% endif %}">
    <label class="control-label" for="post">Name:</label>
    <div class="controls">
        {{ form.name(size = 90, maxlength = 1000) }}
        {% for error in form.errors.name %}
            <span class="help-inline">[{{error}}]</span><br>
        {% endfor %}
    </div>
</div>
<div class="control-group{% if form.errors.title %} error{% endif %}">
    <label class="control-label" for="post">Title:</label>
    <div class="controls">
        {{ form.title(size = 30, maxlength = 1000) }}
        {% for error in form.errors.title %}
            <span class="help-inline">[{{error}}]</span><br>
        {% endfor %}
    </div>
</div>
<div class="control-group{% if form.errors.organization %} error{% endif %}">
    <label class="control-label" for="post">Organization:</label>
    <div class="controls">
        {{ form.organization(size = 30, maxlength = 1000) }}
        {% for error in form.errors.organization %}
            <span class="help-inline">[{{error}}]</span><br>
        {% endfor %}
    </div>
</div>

<div class="control-group{% if form.errors.description %} error{% endif %}">
    <label class="control-label" for="post">Bio:</label>
    <div class="controls">
        {{ form.description(size = 100, maxlength = 3000) }}
        {% for error in form.errors.description %}
            <span class="help-inline">[{{error}}]</span><br>
        {% endfor %}
    </div>
</div>

{% include 'upload_image.html' %}