<!-- extend base layout -->
{% extends "base.html" %}

{% block content %}
    <h1>{{ title }}</h1>
    </br>
    {% include 'flash.html' %}
    </br>
    <div class="well">

        <form class="form-horizontal" action="" method="post" name="post">
            {{form.hidden_tag()}}
            <div class="control-group{% if form.errors.name %} error{% endif %}">
                <label class="control-label" for="post">Panel Name:</label>
                <div class="controls">
                    {{ form.name(size = 90, maxlength = 9000) }}
                    {% for error in form.errors.name %}
                        <span class="help-inline">[{{error}}]</span><br>
                    {% endfor %}
                </div>
            </div>
            <div class="control-group{% if form.errors.info %} error{% endif %}">
                <label class="input-xlarge" for="post">Description:</label>
                <div class="controls">
                    {{ form.info (size = 30, maxlength = 140) }}
                    {% for error in form.errors.info %}
                        <span class="help-inline">[{{error}}]</span><br>
                    {% endfor %}
                </div>
            </div>

            <div class="control-group{% if form.errors.keyq %} error{% endif %}">
                <label class="input-xlarge" for="post">Key Questions:</label>
                <div class="controls">
                    {{ form.keyq (size = 30, maxlength = 140) }}
                    {% for error in form.keyq.info %}
                        <span class="help-inline">[{{error}}]</span><br>
                    {% endfor %}
                </div>
            </div>

            <div class="control-group{% if form.errors.category_id %} error{% endif %}">
                <label class="control-label">Select Category:</label>
                <div class="controls">
                    {{ form.category_id }}
                </div>
            </div>

            <div class="control-group">
                <div class="controls">
                    <input class="btn btn-primary" type="submit" value="Post!">
                </div>
            </div>

        </form>
    </div>
{% endblock %}
