{% extends "base.html" %}

{% block head %}
    <link rel="stylesheet" type="text/css" href="/static/css/panels.css"/>
    <script type="text/javascript" src="/static/js/panels.js"></script>
    <script type="text/javascript" src="/static/js/stickyfloat.jquery.js"></script>
{% endblock %}

{% block content %}
<h1>HCF 2013 Panels</h1>
<div class="row-fluid" style="margin-top: 30px;">
  	<div class="span4" id="panels_nav_wrapper">
		<div id="side_nav">
			{% for category in categories %}
				<h5 style="margin-top: 0px;">{{ category.name }}</h5>
				<ul class="nav nav-pills nav-stacked">
					{% for panel in panels %}
					{% if panel.category_id == category.id %}
					<li><a href="#{{ panel.html_id }}" class="scroll_to_anchor">{{ panel.name }}</a></li>
					{% endif %}
					{% endfor %}
				</ul>
			{% endfor %}
			<a href="#header" class="scroll_to_anchor" id="back_to_top"><i class="icon-arrow-up"></i>Back to Top</a>
		</div>
  	</div>
	<div class="span8" id="panels">
		{% for category in categories %}
			<h3>{{ category.name }}</h3>
			{% for panel in panels %}
				{% if panel.category_id == category.id %}
					<h4 id="{{ panel.html_id }}">{{ panel.name }}</h4>
					<h5>Panel Description</h5>
					<p>Nullam iaculis, enim et faucibus dapibus, ligula ante scelerisque nibh, id tempor sapien risus sed nibh. Nunc at tellus mauris. Nullam et cursus risus. Phasellus ac tempus velit. Nunc lacinia augue ut sem imperdiet ornare. Pellentesque lacinia leo eu diam vulputate sit amet accumsan enim rhoncus. In hac habitasse platea dictumst. Ut scelerisque tellus ac eros facilisis sed hendrerit felis ultrices. Vivamus nibh mi, vehicula quis sollicitudin pellentesque, varius id quam. Morbi facilisis, felis sit amet viverra semper, tellus erat fringilla nisl, ut elementum leo quam id quam. Maecenas bibendum ligula at metus scelerisque porta. Donec in lobortis nisi. Integer sed nulla purus. Phasellus hendrerit ornare sem ac ultrices.</p>
					<h5>Key Questions</h5>
					<ol>
					  <li>Duis dapibus, ligula id tempus sodales, ligula neque eleifend lacus, eu volutpat ipsum libero in diam?</li>
					  <li>Cras ullamcorper massa nec nisi venenatis ut convallis arcu hendrerit?</li>
					  <li>Nam sed mi nibh, ut ullamcorper nibh. Curabitur consectetur augue quis nisi bibendum ac ornare ante condimentum?</li>
					</ol>
				{% endif %}
			{% endfor %}
			<div class="cleaner_h30">&nbsp;</div>
		{% endfor %}
	</div>
</div>
{% endblock %}