{% extends "base.html" %}

{% block head %}
    <link rel="stylesheet" type="text/css" href="/static/css/panels.css"/>
    <script type="text/javascript" src="/static/js/panels.js"></script>
    <script type="text/javascript" src="/static/js/stickyfloat.jquery.js"></script>
{% endblock %}

{% block content %}
<h1>HCF 2013 Panels</h1>
<div class="row-fluid" style="margin-top: 30px;">
  	<div class="span4" id="panels_nav_wrapper">
		<div id="side_nav">
			{% for category in categories %}
				<h5 style="margin-top: 0px;">{{ category.name }}</h5>
				<ul class="nav nav-pills nav-stacked">
					{% for panel in panels %}
						{% if panel.category_id == category.id %}
							<li><a href="#{{ panel.html_id }}" class="scroll_to_anchor">{{ panel.name }}</a></li>
						{% endif %}
					{% endfor %}
				</ul>
			{% endfor %}
			<a href="#header" class="scroll_to_anchor" id="back_to_top"><i class="icon-arrow-up"></i>Back to Top</a>
		</div>
  	</div>
	<div class="span8" id="panels">
		{% for category in categories %}
			{% if g.user.is_authenticated() %}
        		<a class="btn btn-mini btn-edit" href={{ category.edit_url }}><i class="icon-edit"></i> Edit Panel Category</a>
    		{% endif %}
			<h3>{{ category.name }}</h3>
			{% for panel in panels %}
				{% if panel.category_id == category.id %}
					<h4 id="{{ panel.html_id }}">{{ panel.name }}</h4>
					{% if g.user.is_authenticated() %}
                		<a class="btn btn-mini btn-edit" href={{ panel.edit_url }}><i class="icon-edit"></i> Edit Panel</a>
            		{% endif %}
					<h5>Panel Description</h5>
					<p>{{ panel.info }}</p>
					<h5>Key Questions</h5>
					<ol>
					  	{% for question in panel.keyq %}
					  		<li>{{ question }}</li>
					  	{% endfor %}
					</ol>
				{% endif %}
			{% endfor %}
			<div class="cleaner_h30">&nbsp;</div>
		{% endfor %}
	</div>
</div>
{% endblock %}
