{% extends "base.html" %}

{% block head %}
    <link rel="stylesheet" type="text/css" href="/static/css/partners.css"/>
{% endblock %}

{% block content %}
<h1>{{ title }}</h1>
    <div id="partners_list">
      {% for partner in partners %}
        {% if g.user.is_authenticated() %}
            <a class="btn btn-mini btn-edit" href={{ partner.edit_url }}><i class="icon-edit"></i> Edit Partner</a>
        {% endif %}
        <div class="partner_logo"><img src="{{ partner.img_url }}" alt="{{ partner.name }}"/></div>
        <h3>{{ partner.name }}</h3><p>{{ partner.description }}</p>        
      {% endfor %}
    </div>
{% endblock %}