{% extends "base.html" %}

{% block head %}
    <link rel="stylesheet" type="text/css" href="/static/css/speakers.css"/>
    <link rel="stylesheet" type="text/css" href="/static/css/persons.css"/>
    <script type="text/javascript" src="/static/js/speakers.js"></script>
    <script type="text/javascript" src="/static/js/persons.js"></script>
    <script type="text/javascript" src="/static/js/stickyfloat.jquery.js"></script>
{% endblock %}

{% block content %}
<h1>{{ title }}</h1>
<div class="row-fluid">
    <div class="span5" id="person_bio">
        <p id="person_select_text">Please select a speaker<br/>from the right to view biography.</p>
	<div class="cleaner_h30">&nbsp;</div>
    </div>
    <div class="span7" id="people">
        <ul class="nav nav-pills">
            {% for category in categories %}
                {% include 'cat_panel.html' %}
            {% endfor %}
        </ul>
        <!--panel detail-->
        {% for panel in panels %}
            <div class="row-fluid panel_detail {{ panel.html_id }}">
                <div class="span12 panel_heading">
                    <h4>{{ panel.name }}</h4>
                </div>

                <div class="row-fluid">
                    {% for speaker_group in panel.speakers_list %}
                        <div class="span6">
                            {% for speaker in speaker_group %}
                                <div class="detail_box">
                                    {% if g.user.is_authenticated() %}
                                        <a class="btn btn-mini btn-edit" href={{ speaker.edit_url }}><i class="icon-edit"></i> Edit</a>
                                    {% endif %}
                                    <img src="{{ speaker.img_url }}" alt="{{ speaker.name }}"/>
                                    <p>
                                        <span class="name">{{ speaker.name }}</span><br/>
                                        <span class="title">{{ speaker.title }}</span><br/>
                                        <span class="organization">{{ speaker.organization }}</span>
                                        <span class="bio hidden">{{ speaker.description }}</span>
                                    </p>
                                    <div class="cleaner"></div>
                                </div>
                            {% endfor %}
                        </div>
                    {% endfor %}
                </div>
            </div>
        {% endfor %}
        <!--end panel detail-->
    </div>
</div>
{% endblock %}
