{% extends "base.html" %}

{% block head %}
    <link rel="stylesheet" type="text/css" href="/static/css/persons.css"/>
    <link rel="stylesheet" type="text/css" href="/static/css/team.css"/>
    <script type="text/javascript" src="/static/js/persons.js"></script>
    <script type="text/javascript" src="/static/js/team.js"></script>
    <script type="text/javascript" src="/static/js/stickyfloat.jquery.js"></script>
{% endblock %}

{% block content %}
<h1>The Team</h1>
<div class="row-fluid">
    <div class="span5" id="person_bio">
        <p id="person_select_text">Please select a team member<br/>from the right to view biography.</p>
    </div>
    <!--people-->
    <div class="span7" id="people">
        <div class="row-fluid">
            {% for group in groups %}
            <div>
                <h4 class="heading">{{ group.name }}<i class="icon-chevron-down"></i></h4>
                <div class="descrip">{{ group.description }}</div>
            </div>
            <div class="row-fluid">
                {% for team_list in group.team_list %}
                    {% for team_member in team_list %}
                        <div class="span6">
                            <div class="detail_box">
                                {% if g.user.is_authenticated() %}
                                    <a class="btn btn-mini btn-edit" href={{ team_member.edit_url }}><i class="icon-edit"></i> Edit</a>
                                {% endif %}
                            <img src="{{ team_member.img_url }}" alt=""/>
                            <p>
                                <span class="name">{{ team_member.name }}</span><br/>
                                <span class="title">{{ team_member.title }}</span><br/>
                                <span class="organization">{{ team_member.organization }}<span>
                            </p>
                            <div class="bio">{{ team_member.description }}</div>
                        <div class="cleaner"></div>
                        </div>
                        </div>
                    {% endfor %}
                {% endfor %}
            </div>
            <div class="cleaner_h30">&nbsp;</div>
            {% endfor %}
        </div>
    </div>
    <!--end people-->
</div>
{% endblock %}
