<p>If you have the url to the photo, please paste it directly, otherwise, upload picture of the speaker
    <a href="http://postimage.org/" target="_blank">here</a> and copy and paste the <b>direct link</b></p>
<div class="control-group{% if form.errors.img_url %} error{% endif %}">
    <label class="control-label" for="post">Image URL</label>
    <div class="controls">
        {{ form.img_url(size = 100, maxlength = 500) }}
        {% for error in form.errors.img_url %}
            <span class="help-inline">[{{error}}]</span><br>
        {% endfor %}
    </div>
</div>